{% extends 'base.html' %}
{% block title %}Login Page{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <h2>
        Login Page
    </h2>
    <div class="row">
        <div class="col-5">
            <form method="post">
                {% csrf_token %}
                {{ login_form | crispy }}
                <button class="btn btn-primary">Log in</button> <span class="ms-3">No account? Then, <a href="{% url 'users:register' %}">get registered</a></span>
            </form>
        </div>
    </div>
    
    
{% endblock %}